# Auto detect text files and perform LF normalization
* text=auto

# Custom for Visual Studio
*.cs     diff=csharp

# Standard to msysgit
*.doc	 diff=astextplain
*.DOC	 diff=astextplain
*.docx diff=astextplain
*.DOCX diff=astextplain
*.dot  diff=astextplain
*.DOT  diff=astextplain
*.pdf  diff=astextplain
*.PDF	 diff=astextplain
*.rtf	 diff=astextplain
*.RTF	 diff=astextplain

# identify vendored and non vendored code
#set everything in CNC_FPGA_CORE as vendored
CNC_FPGA_Core/* linguist-vendored
#set everything within Custom_FPGA_components as non vendored
CNC_FPGA_Core/Custom_FPGA_components/* linguist-vendored=false
#set specific files within CNC_FPGA_Core as non vendored
CNC_FPGA_Core/my_top_system.vhd linguist-vendored=false
CNC_FPGA_Core/*.v linguist-vendored